Package: iam-login-service
Version: 0.6.0
Section: web
Priority: optional
Architecture: all
Maintainer: INDIGO DataCloud
Depends: java8-runtime
Description: INDIGO Identity and Access Management Service.
 .
 The INDIGO IAM (Identity and Access Management service) provides 
 user identity and policy information to services so that consistent 
 authorization decisions can be enforced across distributed services.
 .

